@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    background-color: oklch(28.908% 0.00003 271.152);
    box-sizing: border-box;
    color: rgb(0, 0, 0);

    --radius: 0.625rem;
    --background: oklch(28.908% 0.00003 271.152);
    --foreground: oklch(13% 0.028 261.692);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(13% 0.028 261.692);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(13% 0.028 261.692);
    --primary: oklch(21% 0.034 264.665);
    --primary-foreground: oklch(98.5% 0.002 247.839);
    --secondary: oklch(96.7% 0.003 264.542);
    --secondary-foreground: oklch(21% 0.034 264.665);
    --muted: oklch(96.7% 0.003 264.542);
    --muted-foreground: oklch(55.1% 0.027 264.364);
    --accent: oklch(96.7% 0.003 264.542);
    --accent-foreground: oklch(21% 0.034 264.665);
    --destructive: oklch(57.7% 0.245 27.325);
    --border: oklch(92.8% 0.006 264.531);
    --input: oklch(92.8% 0.006 264.531);
    --ring: oklch(70.7% 0.022 261.325);
    --chart-1: oklch(64.6% 0.222 41.116);
    --chart-2: oklch(60% 0.118 184.704);
    --chart-3: oklch(39.8% 0.07 227.392);
    --chart-4: oklch(82.8% 0.189 84.429);
    --chart-5: oklch(76.9% 0.188 70.08);
    --sidebar: oklch(98.5% 0.002 247.839);
    --sidebar-foreground: oklch(13% 0.028 261.692);
    --sidebar-primary: oklch(21% 0.034 264.665);
    --sidebar-primary-foreground: oklch(98.5% 0.002 247.839);
    --sidebar-accent: oklch(96.7% 0.003 264.542);
    --sidebar-accent-foreground: oklch(21% 0.034 264.665);
    --sidebar-border: oklch(92.8% 0.006 264.531);
    --sidebar-ring: oklch(70.7% 0.022 261.325);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(13% 0.028 261.692);
    --foreground: oklch(98.5% 0.002 247.839);
    --card: oklch(21% 0.034 264.665);
    --card-foreground: oklch(98.5% 0.002 247.839);
    --popover: oklch(21% 0.034 264.665);
    --popover-foreground: oklch(98.5% 0.002 247.839);
    --primary: oklch(92.8% 0.006 264.531);
    --primary-foreground: oklch(21% 0.034 264.665);
    --secondary: oklch(27.8% 0.033 256.848);
    --secondary-foreground: oklch(98.5% 0.002 247.839);
    --muted: oklch(27.8% 0.033 256.848);
    --muted-foreground: oklch(70.7% 0.022 261.325);
    --accent: oklch(27.8% 0.033 256.848);
    --accent-foreground: oklch(98.5% 0.002 247.839);
    --destructive: oklch(70.4% 0.191 22.216);
    --border: oklch(100% 0 0 / 10%);
    --input: oklch(100% 0 0 / 15%);
    --ring: oklch(55.1% 0.027 264.364);
    --chart-1: oklch(48.8% 0.243 264.376);
    --chart-2: oklch(69.6% 0.17 162.48);
    --chart-3: oklch(76.9% 0.188 70.08);
    --chart-4: oklch(62.7% 0.265 303.9);
    --chart-5: oklch(64.5% 0.246 16.439);
    --sidebar: oklch(21% 0.034 264.665);
    --sidebar-foreground: oklch(98.5% 0.002 247.839);
    --sidebar-primary: oklch(48.8% 0.243 264.376);
    --sidebar-primary-foreground: oklch(98.5% 0.002 247.839);
    --sidebar-accent: oklch(27.8% 0.033 256.848);
    --sidebar-accent-foreground: oklch(98.5% 0.002 247.839);
    --sidebar-border: oklch(100% 0 0 / 10%);
    --sidebar-ring: oklch(55.1% 0.027 264.364);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
